* {
  padding: 0;
  margin: 0;
}
#topleft {
  text-align: left;
  display:inline-block;
  width:100%;
  color:white;
  font-size: 1.4vw;
  margin-left: 1vw;
  margin-top: 1vw;
  font-family: 'Segoe UI';
}
#heading{
  font-family: 'Segoe UI';
  color:white;
  text-shadow: rgba(0,0,0,0.16) 0 3px 6px;
  width:100%;
  height: 100%;
  word-wrap: unset;
  width:inherit;
  text-align: right;
  display:block;

}
#teenInfo{
  background-color: white;
  font-family: 'Segoe UI';
  height:2.2vw;
  width:100%;
  text-align: right;
  display: block;
  justify-content: center;
  text-align: center;
  word-wrap: none;
}
#teenInfo div {
  display: inline-block;
  word-wrap: none;
  font-size: 1.4vw;
  height:inherit;
  margin-left: 2em;
}
#teenInfo div span{
  margin-left: 1em;
}
#heading *{
  display: inline;
  text-align: right;
  margin-left:15px;
  font-weight: 600;
}
#heading h3{
  margin-top:1em;
  width:100%;
  font-size:1.7vw;
}
#heading h1{
  width:100%;
  margin-right: 1vw;
  font-size: 3.6vw;
}

body{
  width:100%;
  background-color:rgba(0, 0, 0, 0.4);
  height: 100%;
}

#mainwrapper{
  width:100%;
  margin: 0 auto;
  display: block;
  position: relative;
  text-align: center;
  display: flex;
  padding-top: 5vw;
  justify-content: center;
}
#mainwrapper main{
  border-radius: 0 0 15px 15px;
  width:65vw;
}

main.homePopup {
  position: fixed;
  background: rgba(0,0,0,0.4);
}
main header.teenInfoHeader {
  background: #FF9800;
  height:8vw;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

main section span {
  font-family: 'Segoe UI';
  font-weight: bold;
  background: white;
  width: 100%;
  height: 10vh;
}

main header.teenInfoHeader span#teenInfo {
  color: black;
  font-family: 'Segoe UI';
  font-weight: normal;
  background: white;
}

main main.teenInfoMain {
  background: linear-gradient(#FFD392, #FFF);
  height: 100%;
}

.rightContainer{
  width:100%;
  text-align: right;
}
.rightContainer .category{
  margin-right: 2em;
}

.category{
  display: inline-block;
  color: black;
  font-family: 'Segoe UI';
  margin-right: 1vw;
  font-size: 2vw;
}
.category h2 {
  font-size: 1em;
}
.category h1, .category h2, .category h3,.category  h4,.category h5,.category h6{
  font-weight: 600;
  display: block;
}

.category div {
  margin-top: 1vw;
  background-color:white;
  display: inline-block;
  width:2.5em;
  height: 2.5em;
  box-shadow: rgba(0,0,0,0.16) 0 3px 6px;
  border-radius: 05px;
}
